<!DOCTYPE html>
<html lang="pt">
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <title>Bolseiro - Sua bolsa já caiu?</title>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-toolbar color="primary" class="white--text">
                <v-icon class="white--text">local_mall</v-icon>
                <v-toolbar-title>Bolseiro</v-toolbar-title>
            </v-toolbar>
            <v-container>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-layout row wrap align-center>
                        <v-flex xs12>
                            <v-menu ref="menu"
                                    :close-on-content-click="false"
                                    v-model="menu"
                                    :nudge-right="40"
                                    :return-value.sync="date"
                                    lazy
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    max-width="290px"
                                    min-width="290px">
                                <v-text-field slot="activator" v-model="date" label="Mês e ano que deseja consultar"
                                              prepend-icon="event" readonly required
                                              :rules="[v => !!v || 'É necessário informar um ano e um mês']">
                                </v-text-field>
                                <v-date-picker v-model="date" type="month"  no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                    <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap align-center>
                        <v-flex xs12>
                            <v-text-field id="cpf" name="cpf-input" label="CPF do bolsista" v-model="cpf" :mask="cpfMask"
                                          prepend-icon="school" required
                                          :rules="[v => !!v || 'É necessário informar um CPF']">
                            </v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap align-center>
                        <v-flex xs12 class="text-xs-center">
                            <v-btn v-if="!loading" @click="clear">
                                <v-icon left>backspace</v-icon>Limpar
                            </v-btn>
                            <v-btn color="primary" v-if="!loading" :disabled="!valid" @click="checkScholarship">
                                <v-icon left>search</v-icon>Pesquisar
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-form>
                <v-layout v-if="loading" row wrap align-center>
                    <v-flex xs12 class="text-xs-center">
                        <v-progress-circular :size="70" :width="7" indeterminate color="primary"></v-progress-circular>
                    </v-flex>
                </v-layout>
                <v-layout v-if="!loading && alert" row wrap align-center>
                    <v-flex xs12 class="text-xs-center">
                        <v-alert v-model="alert" :type="alert" dismissible>
                            {{ message }}
                        </v-alert>
                    </v-flex>
                </v-layout>
                <v-layout row wrap align-center>
                    <v-flex xs12>
                        <v-footer height="auto" fixed>
                            <v-card flat tile class="flex primary white--text text-xs-center">
                                <v-card-text>
                                    <v-btn icon class="mx-3 white--text" href="https://br.linkedin.com/in/mourajp/en"
                                           target="_blank">
                                        <v-icon size="24px">fab fa-linkedin</v-icon>
                                    </v-btn>
                                    <v-btn icon class="mx-3 white--text" href="https://github.com/jpmoura/bolseiro"
                                           target="_blank">
                                        <v-icon size="24px">fab fa-github</v-icon>
                                    </v-btn>
                                </v-card-text>
                                <v-card-text class="white--text">
                                    <v-icon size="14px" class="white--text">fab fa-creative-commons</v-icon> 2018 —
                                    <strong>João Pedro Santos de Moura</strong>
                                </v-card-text>
                                <v-spacer></v-spacer>
                            </v-card>
                        </v-footer>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            message: null,
            cpf: null,
            date: null,
            menu: false,
            cpfMask: "###.###.###-##",
            loading: false,
            alert: null,
            valid: false,
            corsbypass: "https://cors-anywhere.herokuapp.com/"
        },
        methods: {
            checkScholarship: async function() {
                if(this.$refs.form.validate()) {
                    this.loading = true;

                    if(isCPFValid(this.cpf)) {
                        let params = this.date.split("-");
                        let year = params[0];
                        let month = params[1];

                        const response = await axios.get(`${this.corsbypass}http://www.portaltransparencia.gov.br/despesasdiarias/resultado?consulta=rapida&periodoInicio=01%2F${month}%2F${year}&periodoFim=31%2F${month}%2F${year}&fase=PAG&codigoOS=TOD&codigoFavorecido=${this.cpf}`);
                        let test = response.data.search("Nenhum documento obedece aos critérios da consulta.");

                        this.loading = false;

                        if(test === -1) {
                            this.message = "O pagamento da bolsa foi realizado.";
                            this.alert = "success";
                        }
                        else {
                            this.message = "Nenhuma informação foi encontrada com o CPF informado.";
                            this.alert = "error";
                        }
                    }
                    else {
                        this.loading = false;
                        this.message = "O CPF informado não é válido.";
                        this.alert = "error";
                    }
                }
                else {
                    this.message = "Os campos precisam ser válidos!";
                    this.alert = "error";
                }
            },
            clear: function() {
                this.$refs.form.reset();
                this.valid = false;
            }
        }
    });

    function isCPFValid(cpf) {
        let soma;
        let resto;

        soma = 0;

        if (cpf === "00000000000") return false;
        for (let i = 1; i <= 9; i++) soma = soma + parseInt(cpf.substring(i-1, i)) * (11 - i);

        resto = (soma * 10) % 11;

        if ((resto === 10) || (resto === 11)) resto = 0;
        if (resto !== parseInt(cpf.substring(9, 10)) ) return false;

        soma = 0;

        for (let i = 1; i <= 10; i++) soma = soma + parseInt(cpf.substring(i-1, i)) * (12 - i);

        resto = (soma * 10) % 11;

        if ((resto === 10) || (resto === 11)) resto = 0;
        if (resto !== parseInt(cpf.substring(10, 11))) return false;

        return true;
    }
</script>
</body>
</html>